[data-animation] {
  transition: transform 2s ease, 5s filter linear;
}

[data-animation="fadeInFromUp"] {
  transform: translateY(-15px);
}

[data-animation="fadeInFromBottom"] {
  transform: translateY(15px);
  filter: blur(3px);
}

[data-animation="fadeInFromBottom"].loaded,
[data-animation="fadeInFromUp"].loaded {
  transform: translateY(0);
  filter: blur(0);
}

[data-animation="fadeInFromLeft"] {
  transform: translateX(-25px);
}

[data-animation="fadeInFromRight"] {
  transform: translateX(35px);
}

[data-animation="fadeInFromRight"].loaded,
[data-animation="fadeInFromLeft"].loaded {
  transform: translateX(0);
}

[data-animation="zoomIn"] {
  transform: scale(0.8);
}

[data-animation="zoomIn"].loaded {
  transform: scale(1);
}
