body {
  overflow-x: hidden;
}

.home,
.home .main {
  background: #EBEBEB;
}

.home .navigation {
  color: #4B4B4B;
}

.home .navigation .logo,
.home .footer .logo {
  fill: #4B4B4B;
  max-width: 100%;
  transition: 0.3s all ease-in-out;
}

.home .hamburger span {
  background: #4B4B4B;
}

.home .eyeIcon {
  stroke: #4B4B4B;
}

.parallax.wideWhenHovered {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.parallax.wideWhenHovered .parallax-image {
  position: absolute;
  width: 80%;
  top: 10%;
  height: 80%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
  transition: 1s all ease-in-out;
  overflow: hidden;
}

.wideWhenHovered .parallax-image:hover {
  width: 100%;
  height: 100%;
  top: 0;
}

.home .heading {
  font-size: 200%;
}

.home .text {
  height: auto !important;
  flex-flow: column wrap;
}

.parallax.wideWhenHovered[data-animation] .parallax-image {
  filter: blur(5px);
}

.parallax.wideWhenHovered[data-animation].loaded .parallax-image {
  filter: blur(0);
}

.scrollToNext a {
  color: #4B4B4B;
}

.scrollToNext {
  padding-bottom: 10px;
  color: #4B4B4B;
  position: fixed;
  z-index: 3;
  width: 100%;
  text-align: center;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.scrollToNext.scrollToTop a {
  transform: rotate(180deg);
  display: inline-block;
}

.scrollToNext.scrollToTop {
  position: static;
}

.parallax-has-video .parallax-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.parallax-has-video .parallax-content .text {
  opacity: 1 !important;
}
